<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="descripcion proyecto" />
    <title>Reconocimiento de Texto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>

<body>
    <section>
        <header>
            <a href="#" class="logo">n-panozo</a>
            <ul class="navbar">
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </header>

        <div class="contenido">
            <div class="tituloBox">
                <h2>"USAR <br></h2>
                <h2>reconociMIENTO<br></h2>
                <h2>de <span>texto</span> agiliza</h2>
                <p>la búsqueda de información"</p>
                
            </div>
            <div class="imgBox">
                <h1>Sube una imagen:</h1>
                <div class="upload-form">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="image" id="image-upload" class="image-upload">
                        <label for="image-upload"></label>
                        <input type="submit" value="Subir">
                    </form>
                </div>
                <!-- <img src="/static/autoocr-inv.png" alt="ojo"> -->
            </div>
        </div>
    </section>
    

</body>
</html>
